include index.html
//- extends layout
//- 
//- block content
//-   #tb-preloader
//-     .tb-preloader-wave
//-   // preloader end
//-   #home.wrapper
//-     // header start
//-     header.l-header
//-       .l-navbar.l-navbar_t-dark.l-navbar_expand.js-navbar-sticky
//-         .container-fluid
//-           nav.menuzord.js-primary-navigation(role='navigation', aria-label='Primary Navigation')
//-             // logo start
//-             a.logo-brand(href='index.html')
//-               img.retina(src='assets/img/logo-dark.png', alt='Massive')
//-             // logo end
//-             // mega menu start
//-             ul.menuzord-menu.pull-right.op-nav.c-nav_s-standard
//-               li.active
//-                 a(href='#home') Home
//-               li
//-                 a(href='#start') About
//-               li
//-                 a(href='#portfolio') Portfolio
//-               li
//-                 a(href='#service') Services
//-               li
//-                 a(href='#feature') Features
//-               li
//-                 a(href='#blog') Blog
//-               li
//-                 a(href='#price') Price Table
//-               li
//-                 a(href='#contact') Contact
//-             // mega menu end
//-     // header end
//-     // hero section
//-     #fullscreen-banner.parallax.text-center.vertical-align
//-       .container-mid
//-         .container
//-           .hero-text
//-             h1.text-uppercase.ls-20
//-               | TIM PENDER 
//-               span.typist-element.typist-blink(data-typist='Designs, TroubleShoots, Enjoys Every Minute Of It') Develops 
//-             h4.text-uppercase Let's build something great together
//-     // hero section
//-     // body content start
//-     section.body-content
//-       // feature
//-       #start.page-content
//-         .container
//-           // feature border box start
//-           .row
//-             .heading-title.text-center
//-               h3 ****************
//-               h3.text-uppercase WE Love to Design
//-               p.half-txt.p-top-30
//-                 | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
//-             .col-md-4
//-               .featured-item.feature-border-box.text-left.wow.fadeInLeft
//-                 .icon
//-                   i.icon-tools2
//-                 .title.text-uppercase
//-                   h4 Modern design
//-                 .desc
//-                   | Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
//-             .col-md-4
//-               .featured-item.feature-border-box.text-left.wow.fadeInUp
//-                 .icon
//-                   i.icon-mobile
//-                 .title.text-uppercase
//-                   h4 Bootstrap
//-                 .desc
//-                   | Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
//-             .col-md-4
//-               .featured-item.feature-border-box.text-left.wow.fadeInRight
//-                 .icon
//-                   i.icon-wine
//-                 .title.text-uppercase
//-                   h4 clean code
//-                 .desc
//-                   | Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
//-                   
//-     script(src='https://code.jquery.com/jquery-1.10.2.min.js', integrity='sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg=', crossorigin='anonymous')
//-     script(src='/javascripts/bootstrap.min.js')
//-     script(src='/javascripts/jquery.easing.1.3.js')
//-     script(src='/javascripts/jquery.gmap.min.js')
//-     script(src='/javascripts/jquery.nav.js')
//-     script(src='/javascripts/jquery.typist.min.js')
//-     script(src='/javascripts/jquery.sticky.js')
//-     script(src='/javascripts/wow.min.js')
//-     script(src='/javascripts/scripts.js')
