doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content

    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/wow.min.js')
    script(src='/javascripts/scripts.js')
